## BACKEND
KEY="dummy"
SECRET="dummy"
DB_CLIENT="pg"
DB_HOST="database"
DB_PORT="5432"
DB_DATABASE="directus"
DB_USER="directus"
DB_PASSWORD="dummy"
ADMIN_EMAIL="youremail@example.com"
ADMIN_PASSWORD="dummy"
CORS_ENABLED="true"
CORS_ORIGIN="http://localhost:1234"
CORS_METHODS="GET,POST,PATCH,DELETE"
CORS_ALLOWED_HEADERS="Content-Type,Authorization"
CORS_EXPOSED_HEADERS="Content-Range"
EMAIL_FROM="noreply@beimnamennennen.com"
EMAIL_TRANSPORT="smtp"
EMAIL_SMTP_HOST="smtp.gmail.com"
EMAIL_SMTP_PORT="587"
EMAIL_SMTP_USER="dummyhost"
EMAIL_SMTP_PASSWORD="dummy"

## FRONTEND
PARCEL_API_URL=http://localhost:8055
CHOKIDAR_USEPOLLING=true
